main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.page__title {
    margin-bottom: 1rem;
}
.main__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}
.main__image {
    width: 450px;
    height: 300px;
    border-radius: 15px;
    object-fit: cover;
}
.main__description {
    padding: 1rem;
    background-color: #e7e7e7;
    font-size: 1.1em;
    max-width: 700px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

button {
    position: relative;
    background-color: rgb(255, 140, 46);
    border-radius: 5px;
    box-shadow: rgba(255, 142, 12, 0.541) 0px 4px 0px 0px;
    padding: 15px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 154px;
    height: 49px;
    color: #fff;
    border: none;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
}

button::before {
    content: '';
    background-color: rgb(233, 129, 45);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
}
.description{
    font-size: 18px;
}
button:hover::before {
    width: 100%;
}
